<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add style</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="original" value="Original"> Original file <br/>
    <input type="file" name="mask" value="Annotation"> Annotation file <br/>
    <input type="text" name="name" value=""> Readable name <br/>
    <input type="text" name="key" value=""> Unique style name <br/>
    <input type="submit" value="Upload"/>
</form>
</body>
</html>